<mat-card>
  <mat-spinner *ngIf="isLoading; else formContent"></mat-spinner>
  <ng-template #formContent>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" autocomplete="off"
          required email>
        <mat-error *ngIf="emailInput.invalid">Please enter your e-mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">Please enter your password</mat-error>
      </mat-form-field>
      <button color="accent" mat-raised-button type="submit">Login</button>
    </form>
  </ng-template>
</mat-card>
